body{
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 1.6rem;
}

.red{
    color: red;
}



.nav-link{
    cursor: pointer;
}

.nav-link:hover,
.nav-link:active{
    color: red !important;
}

.icon-link:active svg,
.icon-link:hover svg{
    color: red;
}

.slider-image{
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}